@media (max-width: 1200px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {

    .col,
    .col-1,
    .col-10,
    .col-11,
    .col-12,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-auto,
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-auto,
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-auto,
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-auto,
    .col-xl,
    .col-xl-1,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-auto {
        width: 100%;
        max-width: 100%;
        flex: auto;
    }

    .header-top .head-top .nav-head ul {
        display: none;
    }

    .res-menu {
        margin-inline-start: 0;
        display: block;
    }

    .mobile-nav-toggler {
        width: 35px;
        height: 35px;
        position: relative;
        background: var(--main-color);
        color: #fff;
        border-radius: 0;
        font-size: 20px;
        display: flex;
        line-height: normal;
        padding: 0;
        align-items: center;
        -webkit-align-items: center;
        text-align: center;
        justify-content: center;
    }

    .menu-top-right .lang {
        font-size: 15px;
        display: none;
    }

    .menu-top-right .my-account {
        font-size: 14px;
    }

    .nav-menu {
        display: none;
    }

    .head-inner .menu-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    .header-top {
        padding: 10px 0;
    }

    .btn-contact span {
        display: none;
    }

    .fixed-menu-h {
        top: auto;
        flex-direction: row;
        justify-content: space-between;
        right: 0;
        left: 0;
        padding: 0;
        margin: 20px;
        align-items: end;
        -webkit-align-items: end;
    }

    .fixed-menu-h .line-h {
        display: none;
    }

    .fixed-menu-h ul {
        margin: 0;
        position: absolute;
        right: 0;
    }

    .btn-fixed-icon {
        margin: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
    }

    .fixed-menu-h ul li a {
        margin: 30px 0 0;
    }

    .banner-h .row {
        min-height: 320px;
    }

    .text-banner {
        padding: 20px 0;
    }

    .header-med {
        padding: 20px 0;
    }

    .text-banner h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .nextSection {
        display: none;
    }

    .logo img {
        max-width: 70px;
    }

    .menu-right .hamburger-menu {
        display: block;
    }

    .navigation-menu .bg-layers {
        width: 200%;
        height: 200%;
    }

    .about-h {
        padding: 60px 0 40px;
    }

    .img-about {
        margin: 0 0 40px;
    }

    .title h3 {
        font-size: 26px;
    }

    .title {
        margin: 0 0 20px;
    }

    .text-about p {
        font-size: 14px;
        line-height: 24px;
    }

    .services-h {
        padding: 50px 0 100px;
    }

    .title p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 15px !important;
    }

    .nav-slider .swiper-button-next,
    .nav-slider .swiper-button-prev {
        font-size: 20px;
    }

    .nav-slider {
        top: 54%;
    }

    .services-h::before,
    .services-h::after {
        width: 55px;
        height: 224px;
    }

    .services-h .overlay-img {
        clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    }

    .counter-h .row .col-md-3 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .count-block {
        padding: 26px 10px;
        min-height: auto;
    }

    .count-block .counter-item {
        font-size: 30px;
        line-height: 40px;
    }

    .count-block h4 {
        font-size: 12px;
        line-height: 22px;
    }

    .counter-h {
        padding: 50px 0;
    }

    .counter-h::after {
        height: 55px;
    }

    .about-h::before {
        height: 50px;
        margin-top: -15px;
    }

    .blogs-h {
        padding: 40px 0;
    }

    .btn {
        font-size: 14px;
        padding: 0 16px;
        line-height: 40px;
        min-height: 40px;
    }

    .btn .botder-btn i {
        height: 2px;
    }

    .btn .botder-btn i:nth-child(2) {
        width: 2px;
    }

    .btn .dots-btn i {
        width: 5px;
        height: 5px;
        margin: 0 1px;
    }

    .title h3::after {
        width: 5px;
        height: 5px;
        margin-inline-start: 5px;
    }

    .title-flex .title {
        padding-inline-end: 10px;
    }

    .twitter-h {
        padding: 0 0 40px;
    }

    .centers-h {
        padding: 70px 0 40px;
    }

    .centers-h::before {
        height: 55px;
        margin-top: -19px;
    }

    .centers-h .nav-slider {
        top: 55%;
    }

    .btn-center {
        margin: 25px 0 0;
    }

    .consultation-h {
        padding: 100px 0 40px;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    }

    .title.title-big h3 {
        font-size: 25px;
        line-height: 35px;
    }

    .title.title-big p {
        font-size: 14px;
        line-height: 24px;
    }

    .form-h {
        padding: 30px 20px;
    }

    .form-h::after {
        width: 50%;
        height: 50%;
        margin: -10px;
    }

    .footer-top {
        padding: 80px 0 30px;
    }

    .footer-top::before {
        margin-top: -20px;
        height: 55px;
    }

    .foot-item h3 {
        margin: 20px 0;
        font-size: 16px;
    }

    .logo-f {
        width: 90px;
        height: auto;
    }

    .foot-item p {
        font-size: 12px;
        line-height: 22px;
    }

    .foot-item ul li a {
        font-size: 12px;
        line-height: 22px;
        margin: 10px 0;
    }

    .footer-top .col-md-2 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .footer-bottom {
        padding: 0 0 80px;
        text-align: center;
    }

    .company-logo a {
        justify-content: center;
        margin: 20px 0 0;
    }

    .chart-inner .itemChart .block-chart .details::before {
        content: "";
        position: absolute;
        width: 0.5px;
        height: 88px;
        border-right: 3px dashed #1F1E1E;
        bottom: -88px;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: -1;
        background: transparent;
    }

    .chart-inner .itemChart {
        margin: 0;
    }

    .chart-inner .itemChart .block-chart,
    .chart-inner .itemChart.down-other.down-two .block-chart {
        margin: 30px 0;
    }

    .chart-inner .itemChart.down-other.down-two {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .chart-inner .itemChart .block-chart:last-child {
        margin-bottom: 0 !important;
    }

    .chart-inner .itemChart .block-chart:last-child .details::before {
        display: none;
    }

    .body-inner {
        padding: 100px 0 50px;
    }
    
    .body-inner::before {
        height: 100px;
        top: 65px;
    }


}

@media (max-width: 768px) {}

@media (max-width: 767px) {}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {}

@media (max-width: 390px) {}

@media (max-width: 330px) {
    .search-box-btn.search-box-outer {
        /* display: none; */
        margin: 0 20px;
    }
}